	:root {
	--black: #000;
	--black-04: rgba(0, 0, 0, 0.4);
	--white: #fff;
	--amethyst: #9d5cd0;
	--grey-black: #333;
	--royal-purple: #7943a4;
	--biloba-flower: #d1a9f0;
	--gallery: #ececec;
	--heliotrope: #c283f3;
	--search-form-color: rgba(255, 255, 255, 0.85);
}

/* hover */
@media(min-width: 1025px) {
	.header-top__link:hover:not(:focus-visible), .header-top__link-enter:hover:not(:focus-visible), .header-bottom__button:hover:not(:focus-visible) {
		color: var(--heliotrope);
	}

	.header-top__link-enter:hover:not(:focus-visible) .header-top__icon-enter path {
		fill: var(--heliotrope);
	}

	.header-bottom__button:hover:not(:focus-visible) .header-bottom__button-icon path {
		stroke: var(--heliotrope)
	}

	.header-bottom__img {
		position: relative;
	}

	.header-bottom__img::after {
		position: absolute;
		content: '';
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border: 2px solid var(--amethyst);
		opacity: 0;
		transition: opacity .3s ease-in-out, border-color .3s ease-in-out;
	}

	.header-bottom__img:hover::after {
		opacity: 1;
	}

	.search__form:hover .search__input {
		border-bottom-color: var(--heliotrope);
	} 

  .hero__btn:hover {
    border-color: var(--biloba-flower);
  }

	.choices__inner:hover:not(:active),
	.choices .choices__list--dropdown .choices__item--choice:hover { 
		background-color: rgba(255, 255, 255, 0.2)!important;
		color: var(--white)
	}

	.swiper-button-next:hover svg .background,
	.swiper-button-prev:hover svg .background {
		fill: var(--amethyst);
}

	.swiper-button-next:hover svg .outline,
	.swiper-button-prev:hover svg .outline {
		stroke: var(--amethyst);
}

	.gallery__auth-link:hover:not(:active):not(:focus-visible){
		border-bottom-color: var(--amethyst);
	}

	.gallery__swiper .swiper-slide:hover::before {
		top: 25px;
		right: 25px;
		bottom: 25px;
		left: 25px;
		background-color: var(--black-05);
		background-image: url('/img/magnyfier.svg');
		background-size: 30%;
		background-position: center;
		background-repeat: no-repeat;
		outline: transparent;	
		opacity: 1;
	}

	.tabs-country__btn:hover:not(:active) .catalog-top__shadow::after{
		opacity: 1;
	}

	.tabs-artist-btn::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: -3px;
		left: 0;
		border-bottom: 1px solid var(--amethyst);
		opacity: 0;
		transition: opacity .3s ease-in-out;
	}

	.accordion-catalog__item:hover:not(:active) .tabs-artist-btn::after{ 
		opacity: 1;
	}

	.accordion-catalog__item:hover:not(:active) .tabs-artist-btn {
		color: var(--amethyst);
	}

	.events__link:hover:not(:active) {
		color: var(--royal-purple);
	}

	.events__link:hover::after {
		border-color: var(--royal-purple);
	}

	.events__btn:hover, .contacts__left-form-button:hover  {
		background-color: var(--amethyst);
		color: var(--white);
	}

	.editions__label:hover {
		color: var(--heliotrope);
	}

	.editions__label:hover .editions__custom-checkbox {
		border-color: var(--heliotrope);
	}

	.editions__item-btn:hover {
		background-color: var(--amethyst);
	}

	.editions__price-input:hover {
		border-color: var(--amethyst);
		background-color: var(--amethyst);
	}

	.swiper-editions-button-prev:hover, 
	.swiper-editions-button-next:hover {
		border-color: var(--amethyst);
		background-color: var(--amethyst);
	}

	.projects__partner:hover:not(:active) {
		border-color: transparent;
	}

	.projects__partner:hover .projects__img {
		filter: grayscale(0);
		opacity: 1;
	}

	.swiper-projects-button-prev:hover, .swiper-projects-button-next:hover {
		background-color: var(--biloba-flower);
	}

	.projects__link:hover:not(:active):not(:focus-visible) {
		border-bottom-color: var(--amethyst);
	}

	.projects__tooltip:hover::before {
		background-color: var(--biloba-flower);
	}

	.contacts__left-form-input:hover:not(:active) {
		background-color: #eaeaea;
	}

	.contacts__left-link:hover:not(:active) {
		opacity: .5;
	}

	.footer__link:hover svg .fill {
		fill: var(--white);
	}

}

/* focus-visible */
.header-top__link::after, .header-top__link-enter::after, .header-bottom__button::before {
	position: absolute;
	z-index: -1;
	content: "";
	top: -8px;
	right: -8px;
	bottom: -8px;
	left: -8px;
	background-color: var(--royal-purple);
	opacity: 0;
	transition: opacity .3s ease-out;
}

.header-bottom__img.focus-visible::after {
	opacity: 1;
}

.hero__btn {
	position: relative;
}

.hero__btn::before {
	content: "";
	position: absolute;
	top: -8px;
	right: -8px;
	bottom: -8px;
	left: -8px;
	background-color: transparent;
	border: 2px solid var(--heliotrope);
	border-radius: 100px;
	opacity: 0;
	transition: opacity .3s ease-out;
}

.header-top__link::after,
.header-top__link-enter::after,
.header-bottom__button::after, 
.hero__btn::after {
	transition: opacity .3s ease-in-out;
}

.header-top__link:focus-visible::after, 
.header-top__link-enter.focus-visible::after, 
.header-bottom__button.focus-visible::before,
.hero__btn.focus-visible::after  {
	opacity: 1;
}

.search__input.focus-visible {
	border-bottom-color: var(--heliotrope);
} 

.hero__btn.focus-visible::before {
	opacity: 1;
}

.choices__inner.focus-visible:not(:active), 
.choices .choices__list--dropdown .choices__item--choice.focus-visible {
	background-color: rgba(255, 255, 255, 0.2);
	color: var(--white)
}

.swiper-button-next.focus-visible svg .outline,
.swiper-button-prev.focus-visible svg .outline {
	stroke: var(--black);
}

.gallery__auth-link:focus-visible {
	color: var(--white);
}

.gallery__auth-link:focus-visible::before {
	opacity: 1;
}

.gallery__swiper .swiper-slide.focus-visible .swiper-slide-border::before{
	opacity: 1;
}

.tabs-country__btn {
	position: relative;
}

.catalog-top__designs, .catalog-top__shadow {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 100px;
	background-color: transparent;
}

.tabs-country__btn.focus-visible  .catalog-top__shadow::after {
	opacity: 1;
}

.catalog-top__img {
	border-radius: 100px;
}

.tabs-artist-btn.focus-visible {
	color: var(--white);
	background-color: var(--amethyst);
}

.events__link.focus-visible {
	color: var(--white);
}

.events__link.focus-visible::after {
	border-color: var(--white);
}

.events__link.focus-visible::before {
	opacity: 1;
}

.events__btn.focus-visible::before, 
.contacts__left-form-button.focus-visible::before {
	opacity: 1;
}

.editions__checkbox.focus-visible ~ .editions__label-text { 
	color: var(--heliotrope);
}

.editions__checkbox.focus-visible ~ .editions__custom-checkbox {
	border-color: var(--heliotrope);
}

.editions__item-btn.focus-visible::before {
	opacity: 1;
}

.editions__price-input.focus-visible {
	background-color: var(--amethyst);
	border-color: white;
}

.swiper-editions-button-prev.focus-visible, 
.swiper-editions-button-next.focus-visible { 
	border-color: var(--black);
	background-color: #666;
}

.projects__partner.focus-visible {
	border-color: var(--amethyst);
} 

.swiper-projects-button-prev.focus-visible::before, .swiper-projects-button-next.focus-visible::before {
	opacity: 1;
}

.projects__link:focus-visible {
	color: var(--white);
}

.projects__link:focus-visible::before {
	opacity: 1;
}

.projects__tooltip.focus-visible::before {
	background-color: var(--biloba-flower);
}

.contacts__left-form-input.focus-visible {
	background-color: #eaeaea;
}

.contacts__left-link:focus {
	opacity: .5;
}

.footer__link.focus-visible svg .fill {
	fill: var(--white);
}

.ymaps-2-1-79-gototech.focus-visible, .ymaps-2-1-79-copyright__link.focus-visible {
	opacity: .5;	
	border: 1px solid var(--amethyst);
}

/* active */

.header-top__link:active:not(:focus-visible), .header-top__link-enter:active:not(:focus-visible), .header-bottom__button:active:not(:focus-visible) {
	color: var(--royal-purple);
}

.header-top__link-enter:active:not(:focus-visible) .header-top__icon-enter path {
	fill: var(--royal-purple);
}

.header-bottom__button:active:not(:focus-visible) .header-bottom__button-icon path {
	stroke: var(--royal-purple)
}

.header-bottom__img::before{
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(194, 131, 243, 0.4);
	opacity: 0;
	transition: opacity .3s ease-in-out;
}

.header-bottom__img:active::before, .header-bottom__img:active::after {
	opacity: 1;
}

.header-bottom__img:active::after {
	border-color: var(--heliotrope);
}

.search__form:active .search__input {
	border-bottom-color: var(--royal-purple);
} 

.hero__btn:active {
	background-color: var(--royal-purple);
	border-color: var(--biloba-flower);
 }

.swiper-button-next:active svg .outline,
.swiper-button-prev:active svg .outline {
	stroke: var(--black);
}

.swiper-button-next:active svg .background,
.swiper-button-prev:active svg .background {
	fill: var(--royal-purple);
}

.gallery__auth-link:active:not(:focus-visible){
	color: var(--royal-purple);
	border-bottom-color: var(--royal-purple);
}

.gallery__swiper .swiper-slide:active::after {
	opacity: 1;
}

.catalog-top__designs::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 2px solid var(--amethyst);
	border-radius: 100px;
	background-color: transparent;
	opacity: 0;
}

.catalog-top__shadow::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 100px;
	box-shadow: 0 0 20px rgba(157, 92, 208, .7);
	opacity: 0;
	transition: opacity .3s ease-in-out;
}

.tabs-country__btn:active .catalog-top__designs::after {
		opacity: 1;
}

.catalog-top__designs::before {
	content: '';
	position: absolute;
	top: -10px;
	right: -10px;
	bottom: -10px;
	left: -10px;
	border: 2px solid var(--amethyst);
	border-radius: 100px;
	background-color: transparent;
	opacity: 0;
}

.tabs-country__btn.active .catalog-top__designs::before {
		opacity: 1;
}

.tabs-artist-btn.active, .tabs-artist-btn:active {
	color: var(--royal-purple);
	border-bottom-color: transparent;
}

.events__link:active {
	color: var(--grey-black);
}

.events__link:active::after {
	border-color: var(--grey-black);
}

.events__btn:active, .contacts__left-form-button:active {
	border-color: var(--heliotrope);
	background-color: var(--royal-purple);
	color: var(--white);
}

.editions__item-btn:active {
	padding: 5.5px 15.5px;
	border-color: var(--biloba-flower);
}

.editions__price-input:active {
	background-color: var(--royal-purple);
	border-color: var(--royal-purple);
}

.swiper-editions-button-prev:active, 
.swiper-editions-button-next:active { 
	border-color: var(--black);
	background-color: var(--royal-purple);
}

.projects__partner:active {
	border-color: var(--amethyst);
}

.projects__partner:active .projects__img {
	filter: grayscale(0);
	opacity: 1;
}

.swiper-projects-button-prev:active:before, .swiper-projects-button-next:active:before {
	opacity: 1;
}

.projects__link:active:not(:focus-visible) {
	color: var(--royal-purple);
	border-bottom-color: var(--royal-purple);
}

.projects__tooltip:active::before {
 background-color: var(--amethyst);
}

.projects__tooltip:active path{
	fill: var(--white)
}

.contacts__left-form-input:active {
	color: var(--black);
	background-color: transparent;
}

.contacts__left-form-input:active::placeholder {
	color: var(--black);
}

.contacts__left-link:active {
	opacity: 1;
}

.contacts__left-link:active svg .outline{
	stroke: var(--amethyst);
}

.footer__link:active svg .fill {
	fill: var(--amethyst);
}