/* картинка на странице */
.minimized {
  cursor: pointer;
}

/* увеличенная картинка */
#magnify {
  display: none;

  /* position: absolute; */
  position: fixed;  
  max-width: 500px;
  height: auto;
  max-height: 100vh;
  z-index: 9999;
}

#magnify img {
  width: 100%;
}

/* затемняющий фон */
#overlay {
  display: none;

  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: 9990;
}

/* кнопка закрытия */
#close-popup {
  width: 30px;
  height: 30px;

  background: transparent;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}

#close-popup i {
  width: 30px;
  height: 30px;
  background: url(https://codernote.ru/files/cross.png) no-repeat center center;
  background-size: 16px 16px;
  display: block;
}

@keyframes rota {
 25% { transform: rotate(360deg); }
}

#close-popup:hover {
  animation: rota 4s infinite normal;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}