/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* OpenSansRegular */
@font-face {
	font-family: 'OpenSans';
	font-display: swap;
	font-style: normal;
	font-weight: 400;
	src: local(''),
	url('../fonts/OpenSansRegular.woff2')format('woff2'), /* Super Modern Browsers */
	url('../fonts/OpenSansRegular.woff')format('woff'); /* Modern Browsers */
}

/* OpenSansSemiBold */
@font-face {
font-family: 'OpenSans';
font-display: swap;
font-style: normal;
font-weight: 600;
src: local(''),
	url('../fonts/OpenSansSemiBold.woff2')format('woff2'), /* Super Modern Browsers */
	url('../fonts/OpenSansSemiBold.woff')format('woff'); /* Modern Browsers */
}

/* OpenSansBold */
@font-face {
font-family: 'OpenSans';
font-display: swap;
font-style: normal;
font-weight: 700;
src: local(''),
	url('../fonts/OpenSansBold.woff2')format('woff2'), /* Super Modern Browsers */
	url('../fonts/OpenSansBold.woff')format('woff'); /* Modern Browsers */
}

:root {
--main-bg: #e7dd89;
--main-bg-05: rgba(231, 221, 137, .5);
--main-bg-07: rgba(231, 221, 137, .7);
/* --main-bg: #004f7c ; */
--black-inversion: #fff;
--black-inversion-04: rgba(75, 74, 74, 0.4);
--black-inversion-05: rgba(255, 255, 255, 0.5);
--black-inversion-06: rgba(255, 255, 255, 0.6);
--black-inversion-09: rgba(255, 255, 255, 0.9);
--white-inversion: #000;
--amethyst: #004f7c;
--grey-black: #333;
--royal-purple: #044165;
--biloba-flower: #2e8bc0;
--STAIR: #ececec;
--heliotrope: #428cb7;
--heliotrope-04: rgba(66, 140, 183, 0.4);
--light-grey: #999;
--grey-accordion: #cacaca;
--plug: #b7b7b7;
--form-button-color: #d11616!important;
--swiper-pagination-color: #666!important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}

html {
font-family: 'OpenSans', sans-serif;
font-weight: 400;
}

* {
outline: none;
}

ul {
margin: 0;
padding: 0;
list-style-type: none;
}

a {
text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
margin: 0;
}

button {
-webkit-box-align: center;
		-ms-flex-align: center;
				align-items: center;
}

.container {
margin-right: auto;
margin-left: auto;
padding: 0 160px;
max-width: 1602px;
}

.btn-reset {
padding: 0;
margin: 0;
font-family: inherit;
background-color: transparent;
border: 0;
}

.btn {
padding: 20px 35px;
font-weight: bold;
font-size: 18px;
line-height: 25px;
font-family: inherit;
border-radius: 100px;
background-color: var(--amethyst);
border: 3px solid var(--amethyst);
color: var(--white-inversion);
}

button:active, button:focus {
outline: none;
}
button::-moz-focus-inner {
border: 0;
}

.cursor {
cursor: pointer;
}

.main-heading {
top: 150px;
left: -110px;
font-size: 50px;
line-height: 84px;
color: var(--amethyst);
}

.second-heading {
margin-bottom: 30px;
padding-left: 15px;
font-weight: normal;
font-size: 34px;
line-height: 65px;
color: var(--grey-black);
}

.main-text {
font-weight: normal;
font-size: 16px;
line-height: 32px;
color: var(--grey-black);
}

.visually-hidden {
position: absolute;
clip: rect(0 0 0 0);
width: 1px;
height: 1px;
margin: -1px;
}


/* header */ 
.header {
position: relative;
overflow: hidden;
}

.add-swiper-container .swiper-background {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

@-webkit-keyframes blanchard {
0% {
	-webkit-transform: scale(1);
					transform: scale(1);
}
100% {
	-webkit-transform: scale(1.25);
					transform: scale(1.25);
}
}

@keyframes blanchard {
0% {
	-webkit-transform: scale(1);
					transform: scale(1);
}
100% {
	-webkit-transform: scale(1.25);
					transform: scale(1.25);
}
}

.swiper-background {
height: 100%;
/* animation: blanchard 6s 1s linear infinite alternate; */
}

.header-top {
position: fixed;
z-index: 100;
} 

.hero__heading, .hero__btn {
position: relative;
z-index: 2;
}

.swiper-background {
z-index: 0;
}

.header-top__menu-container {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}

.header-top__button {
display: block;
}

.header-top__button {
position: absolute;
top: 37px;
left: 50px;
}

.header__background {
background: center center no-repeat transparent;
background-size: cover;
}

.header__background_castle {
background-image: url(../img/bg1.jpg);
}

.header__background_angels {
background-image: url(../img/bg5.jpg);
}

.header__background_nature {
background-image: url(../img/bg6.jpg);
}

.header-top__container {
position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
		-ms-flex-pack: justify;
				justify-content: space-between;
-webkit-box-align: center;
		-ms-flex-align: center;
				align-items: center;
padding: 9px 175px;
}

.header-top {
	top: 0;
	width: 100%;
 	background-color: var(--main-bg);
}

.header-top__img {
	width: 80px;
	height: 50px;
}

.header-top__download {
	width: 25px;
	height: 25px;
	background: url(../img/download.png) center center no-repeat transparent;
	background-size: cover;
}

.burger-button__icon {
position: relative;
width: 20px;
height: 12px;
border-top: 2px solid var(--white-inversion);
border-bottom: 2px solid var(--white-inversion);
}

.burger-button__icon:after {
content: '';
position: absolute;
top: -7px;
left: 0;
width: 20px;
height: 12px;
border-bottom: 2px solid var(--white-inversion);
}

.menu__container {
position: absolute;
top: 0;
left: 145px;
padding: 22px 15px 15px 15px;
max-width: 300px;
background-color: var(--main-bg);
border-radius: 20px;
-webkit-transition: all ease-out 0.5s;
-o-transition: all ease-out 0.5s;
transition: all ease-out 0.5s;
-webkit-transform-origin: top center;
		-ms-transform-origin: top center;
				transform-origin: top center;
-webkit-transform: scaleY(.2) translateY(-100%);
		-ms-transform: scaleY(.2) translateY(-100%);
				transform: scaleY(.2) translateY(-100%);
opacity: 0;
}

.menu__container.active {
-webkit-transform: scaleY(1) translateY(0);
		-ms-transform: scaleY(1) translateY(0);
				transform: scaleY(1) translateY(0);
opacity: 1;
}

.menu-btn__close {
margin-bottom: 17px;
padding: 15px 0;
}

.cross-sign {
width: 16px;
height: 16px;
background: url(https://codernote.ru/files/cross.png) no-repeat center center;
background-size: 16px 16px;
display: block;
}

@-webkit-keyframes rota {
25% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes rota {
25% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

.cross-sign:hover {
-webkit-animation: rota 4s infinite normal;
				animation: rota 4s infinite normal;
-webkit-animation-iteration-count: 1;
animation-iteration-count: 1;
}

.header-top__list {
display: block;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
		-ms-flex-direction: column;
				flex-direction: column;
}

.header-top__item:not(:last-child) {
margin-right: 30px;
margin-bottom: 10px;
}

.header-top__link {
position: relative;
font-weight: 400;
font-size: 18px;
line-height: 25px;
color: var(--white-inversion);
-webkit-transition: color .3s ease-out;
-o-transition: color .3s ease-out;
transition: color .3s ease-out;
}

.header-top__search {
cursor: pointer;
}

.hero__container {
padding-top: 236px;
padding-bottom: 200px;
}

.hero__heading {
margin-bottom: 22px;
max-width: 597px;
}

/* about-us */
.about-us__container {
padding-top: 80px;
padding-bottom: 70px;
}

.about-us__heading {
margin-bottom: 30px;
}

.about-us__descr {
max-width: 1080px;
}

/* gallery */ 
.gallery,
.STAIR,
.heat,
.electricity,
.lights,
.documents,
.garden,
.safety {
	padding-bottom: 70px;
	border-bottom: 1px solid var(--amethyst);
}

.heat,
.electricity,
.garden,
.safety {
	padding-top: 70px;
}

.gallery__container {
padding-top: 80px;
}

.gallery__heading {
margin-bottom: 30px;
}

.gallery__img,
.STAIR__img {
padding: 0px 15px;
width: 100%;
height: 100%;
}


/* STAIR */
.STAIR {
position: relative;
}

.STAIR__heading {
padding-top: 80px;
margin-bottom: 30px;
color: var(--white-inversion);
}

.STAIR__container {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
		-ms-flex-pack: justify;
				justify-content: space-between;
}

.STAIR__link {
font-weight: 600;
color: var(--amethyst);
}

.STAIR__link:active {
color: var(--amethyst);
}

/* heat */
.heat__container {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
		-ms-flex-pack: justify;
				justify-content: space-between;
}

.heat__img, 
.electricity__img {
padding: 0px 15px;
width: 100%;
}

/* electricity */ 
.electricity {
margin-bottom: 70px;
}

.electricity__container {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
		-ms-flex-pack: justify;
				justify-content: space-between;
}

.electricity__paragraph,
.heat__paragraph {
margin-bottom: 10px;
padding-right: 30px;
padding-left: 15px;
width: 350px;
}

.electricity__paragraph:not(:nth-child(-n+2)),
.heat__paragraph:not(:nth-child(-n+2)) {
display: none;
}

.electricity__heading {
margin-bottom: 30px;
}

.electriity__btn,
.heat__btn {
color: var(--amethyst);
padding-left: 15px;
}

/* documents */
.documents__container {
padding-top: 80px;
}

.documents__heading {
margin-bottom: 30px;
}

.documents__rules-wrapper {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
		flex-wrap: wrap;
-webkit-box-pack: justify;
		-ms-flex-pack: justify;
				justify-content: space-between;
}

.document__card {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
		-ms-flex-direction: column;
				flex-direction: column;
margin-right: 10px;
margin-bottom: 10px;
width: 250px;
height: 250px;
padding: 20px 10px 10px 10px;
border: 1px solid var(--grey-accordion);
}

.document__icon {
margin-bottom: 10px;
width: 50px;
height: 50px;
background: url('../img/doc.png') center center no-repeat transparent;
background-size: cover;
}

.document__img svg{
margin-bottom: 10px;
width: 50px;
height: 50px;
}

/*  */

/* lights */
.lights__list {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
} 

.lights__list {
height: unset;
}

.lights__heading {
margin-bottom: 30px;
}

.lights__cards-container{
padding: 0 15px;
}

.lights__item,
.garden__item {	
	display: -webkit-box;	
	display: -ms-flexbox;	
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
			-ms-flex-direction: column;
					flex-direction: column;
	margin-bottom: 40px;
	height: unset;
	width: calc((100% - 48px * 2 - 6px) / 3 );
}

.lights__item:not(:nth-child(-n+3)),
.garden__item:not(:nth-child(-n+3)){
	display: none;
}

.lights__img {
margin-bottom: -1px;
}

.lights__item-top {
width: 100%;
height: 300px;
}

.lights__img, 
.lights__img source, 
.lights__img img {
width: 100%;
height: 100%;
-o-object-fit: cover;
	 object-fit: cover;
}

.lights__item-bottom {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
		-ms-flex-direction: column;
				flex-direction: column;
-webkit-box-align: start;
		-ms-flex-align: start;
				align-items: flex-start;
-webkit-box-flex: 1;
		-ms-flex: 1;
				flex: 1;
padding: 2px 19px 6px 19px;
border: 1px solid var(--grey-accordion);
border-top-color: transparent;
}

.lights__location {
margin-left: auto;
margin-bottom: 8px;
font-size: 12px;
line-height: 16px;
color: var(--light-grey);
text-align: right;
white-space: pre-line;
}

.lights__item-heading {
margin-bottom: 1px;
font-weight: 600;
font-size: 24px;
line-height: 32px;
}

.lights__descr {
margin-bottom: 10px;
max-width: 400px;
}

.lights__link {
position: relative;
margin-top: auto;
color: var(--amethyst);
-webkit-transition: color .3s ease-in-out;
-o-transition: color .3s ease-in-out;
transition: color .3s ease-in-out;
}

.lights__link::after {
content: '';
position: absolute;
top: 0;
right: 0;
bottom: -4px;
left: 0;
border-bottom: 1px solid var(--amethyst);
-webkit-transition: border-color .3s ease-in-out;
-o-transition: border-color .3s ease-in-out;
transition: border-color .3s ease-in-out;
}

.lights__link::before {
content: '';
position: absolute;
z-index: -1;
top: -4px;
right: -8px;
bottom: -12px;
left: -8px;
background-color: var(--amethyst);
opacity: 0;
-webkit-transition: opacity .3s ease-in-out;
-o-transition: opacity .3s ease-in-out;
transition: opacity .3s ease-in-out;
}

.lights__btn, 
.garden__btn {
position: relative;
padding-top: 17px;
padding-bottom: 17px;
color: var(--amethyst);
background-color: transparent;
border: 2px solid var(--amethyst);
-webkit-transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
-o-transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
}

.lights__btn::before {
content: '';
position: absolute;
top: -5px;
right: -5px;
bottom: -5px;
left: -5px;
background-color: transparent;
border: 2px solid var(--heliotrope);
border-radius: 100px;
opacity: 0;
}

.lights__btn-container {
	display: flex;
	justify-content: center;
}

/* garden */

/* footer */
.footer {
padding-top: 48px;
padding-bottom: 46px;
width: 100%;
height: 100%;
background-color: var(--main-bg);
/* background: url(/img/footer.jpg) center center no-repeat transparent;
background-size: cover; */
}

.footer-container {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
		-ms-flex-direction: column;
				flex-direction: column;
-webkit-box-align: center;
		-ms-flex-align: center;
				align-items: center;
}

.footer__img {
margin-bottom: 20px;
width: 80px;
height: 50px;
}

.footer__bottom {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
		-ms-flex-pack: justify;
				justify-content: space-between;
-webkit-box-align: center;
		-ms-flex-align: center;
				align-items: center;
width: 100%;
}

.contacts__second-heading {
margin-bottom: 30px;
}

.footer__phones {
margin-bottom: 15px;
}

.footer__tel {
display: block;
color: inherit;
text-decoration: none;
}

.footer__tel:not(:last-child) {
margin-bottom: 5px;
}

.footer__right {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
}

.footer__map-img {
max-width: 250px;
height: 183px;
}

.footer__map-img:not(:last-child) {
margin-right: 10px;
}

.contacts__left-list {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-pack: distribute;
		justify-content: space-around;
}

/* copyrights */
.copyrights {
	margin-top: -1px;
	font-size: 10px;
	padding: 3px;
	text-align: center;
	background-color: var(--main-bg);
}

.copyrights__link {
color: inherit;
}

.copyrights__link:hover {
color: var(--amethyst);
}


/* media */
@media (max-width: 1300px) {
.gallery__container {
	padding-bottom: 0;
}

.STAIR__container {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
			-ms-flex-direction: column;
					flex-direction: column;
}

.STAIR__text {
	margin-bottom: 20px;
}

.STAIR__container .accordion-item {
	width: 100%;
}

.STAIR__container .STAIR__slider {
	width: 100%;
}

.electricity__img,
.heat__img,
.STAIR__img,
.gallery__img {
	width: 230px;
	height: 300px;
	margin: 0 auto;
}

.lights__item:not(:nth-child(-n+3)),
.garden__item:not(:nth-child(-n+3)) {
	display: flex;
}

.lights__item:not(:nth-child(-n+2)),
.garden__item:not(:nth-child(-n+2)) {
	display: none;
}

.lights__item, .garden__item {
	width: calc((100% - 46px)/2);
}

.lights__item-top {
	height: 200px;
}

.lights__descr {
	max-width: 100%;
	white-space: break-spaces;
}

.footer__bottom {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
			-ms-flex-direction: column;
					flex-direction: column;
	-webkit-box-pack: start;
			-ms-flex-pack: start;
					justify-content: flex-start;
}

.contacts__left-social-heading {
	text-align: center;
}

.contacts__left-list {
	margin-bottom: 15px;
}

.footer__right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
			flex-wrap: nowrap;
	-ms-flex-pack: distribute;
			justify-content: space-around;
	width: 100%;
}
}

@media (max-width: 969px) {
/* .gallery__img,
.STAIR__img,
.heat__img,
.electricity__img {
	padding: 0 45px;
} */

.heat__container {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
			-ms-flex-direction: column;
					flex-direction: column;
}

.accordion-item {
	width: 100%;
}

.electricity__container {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
			-ms-flex-direction: column;
					flex-direction: column;
}

.electricity__text {
	margin-bottom: 15px;
}

.electricity__paragraph {
	width: 100%;
}

.electricity__slider {
	width: 100%;
}
}

@media (max-width: 911px) {
.lights--item:nth-child(3) {
	display: none;
}

.lights__item,
.garden__item {
	width: calc((100% - 36px) / 2 );
}

.lights__item:not(:nth-child(3n)),
.garden__item:not(:nth-child(3n)) {
	margin-right: 0;
}

/* .lights__item:nth-child(-n+3),
.garden__item:nth-child(-n+3) {
	margin-bottom: 0;
	display: none;
} */

.lights__item:nth-child(-n+2),
.garden__item:nth-child(-n+2) {	
	display: -webkit-box;	
	display: -ms-flexbox;	
	display: flex;
}

.lights__item:nth-child(-n+4),
.garden__item:nth-child(-n+4) {
	margin-bottom: 20px;
}

.lights__item:not(:nth-child(2n)),
.garden__item:not(:nth-child(2n)) {
	margin-right: 36px;
}

.footer__right {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
			-ms-flex-direction: column;
					flex-direction: column;
	-webkit-box-align: center;
			-ms-flex-align: center;
					align-items: center;
}

.footer__map-img:not(:last-child) {
 margin-right: 0;
}

.footer__map-img {
	margin-bottom: 10px;
}
}

@media (max-width: 768px) {
.header {
	height: 350px;
}

.main-heading {
	left: 0;
	top: 224px;
}

.main-text {
	font-size: 12px;
	line-height: 20px;
}

.gallery,
.lights,
.documents {
	padding-top: 70px;
}

.container {
	padding: 0 15px;
}

.header-top__img {
	width: 50px;
	height: 32px;
}

.hero__heading {
	font-size: 34px;
}

.menu__container {
	left: 0;
}

.second-heading {
	font-size: 26px;
	line-height: 26px;
	text-align: center;
}

.STAIR__heading {
	margin-bottom: 15px;
}

.electricity__img, 
.heat__img, 
.STAIR__img, 
.gallery__img {
	width: 200px;
	height: 300px;
}

.electricity {
	margin-bottom: 0;
}

.garden__container {
	padding-bottom: 0;
}

.electricity__text {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.electricity__paragraph,
.heat__paragraph {
	padding-right: 15px;
	width: 100%;
}

.garden__item:nth-last-child(-n+2) {
	margin-bottom: 0;
}

.lights__descr {
	word-wrap: break-word;
}

.lights__btn, 
.garden__btn {
	padding: 7px 15px;
}

.footer {
	padding: 20px 0;
}

.contacts__second-heading {
	margin-bottom: 15px;
}
}	
